.wrapper {
	margin: 0 auto;
	width: 2048px;
	height: 50px;
	font-size: 30px;
	background-color: black;
}

img {
	float: left;
	padding-left: 10px;
	margin-right: 10%;
}

ul {
	list-style: none;
}

li {
	float: left;
	margin-right: 10%;
	margin-top: 5px;
}

a {
	text-decoration-line: none;
}

.href_login { 
	font-size: 30px;

	/*top에서 여백주기*/
}

.login {
	float: right;
}